html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 117#0000000px;
}

.content {
  display: flex;
  flex-grow: 2;
}

.left-content {
  display: flex;
  align-items: flex-start;
  width: 250px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.center-content {
  margin: 10px;
  border-radius: 20px 20px 5px 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-grow: 1;
  padding: 10px;
}

.center-content:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.24);
}

#list-proj {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 100%;
  height: auto;
  border: 0px solid #A9A9A9;
  border-radius: 20px 20px 5px 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#list-proj:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.24);
}

.list-proj__header {
  font-family: 'Teko', sans-serif;
  font-size: 27px;
  border-bottom: 0.5px solid #DBDBDB;
  text-align: center;
  color: #24292e;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
}


.header {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #24292e;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: auto;
}


.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 15px;
  margin-left: 35px;
  text-decoration: none;
}

.header__link:hover {
  color: #C8C8C8;
}

.header__link:active {
  color: #E2E2E2;
}




.footer {
  height: 40px;
  background-color: #fff;
  color: #E5E5E5;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.bicycle_Img {
  width: 350px;
}


.proj {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  color: #24292e;
  padding-top: 5px;
  padding-bottom: 6px;
  
}

.proj:hover {
  background: #F4F4F4;
}

.proj-name {
  font-family: 'Teko', sans-serif;
  font-size: 25px;
}

.proj-status {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
}

.proj-type {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #6F6F6F;
}

