<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
	<link rel="stylesheet" href="static/style/layout.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="layout">
	  <div class="header">
			<div class="container">
				<div class="header__content">
					<a href="/" class="logo">
						<img src="static/media/atom.svg" alt="ST">
					</a>
					<a href="/tools" class="header__link">Tools</a>
					<a href="/collections" class="header__link">Collections</a>
					<a href="/tests" class="header__link">Tests</a>
					<a href="/projects" class="header__link">Projects</a>
				</div>
			</div>
	  </div>
	<div class="content container">
		<div class="left-content">
			<div id="list-proj">
				<div class="list-proj__header">Project list</div>
				<div>
					{% for proj in proj_list %}
						<div class="proj" id="{{ proj['id'] }}">
							<a href="/container-{{ proj['id'] }}" style="text-decoration: none; color: black;">
							<div style="display: flex; justify-content: space-between; align-items: center;">
								<div href="/container-{{ proj['id'] }}"  class="proj-name">{{ proj['proj_name'] }}</div>
								<div class="proj-status">Status: {{ proj['status'] }}</div>
							</div>
							<div class="proj-type">Type: {{ proj['type'] }}</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="center-content">
			{% block content %}
			{% endblock %}
		</div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="copyright">© 2019</div>
      </div>
    </div>
  </div>
<script src="static/js/base.js"></script>
</body>
</html>
