{% extends 'base.html' %}

{% block content %}

<div class="statistics">
	<div class="statistics_graph">
		<div class="statistics_graph-graph">График</div>
		<div class="statistics_graph-legend">Легенда</div>
	</div>
	<div class="status">
		Статус нод
	</div>
</div>

<script src="static/js/container.js"></script>

{% endblock %}